
body{
    background-color:green;
}

h1 {
    text-align: center;
    font-size: 50px;
    color:lawngreen;
}

h2 {
    color: lawngreen;
    font-size: 30px;
    text-align: center;
}

p{
    color:greenyellow;
    font-size: 20px;
    font-family: monospace;
}

header {
    background-color: darkgreen;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: green;
    font-family: monospace;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 5px solid cadetblue;
    border-radius: 15px;
}

footer {
    background-color: darkgreen;
    padding: 10px;
    width: 1100px;
}

img{
    width: 450px;
    height: 300px;
}

div {
    text-align: center;
}

a {
    text-align: center;
    font-size: 30px;
    color: black;
    border: 3px solid darkblue;
    text-decoration: none;
    padding: 10px;
    margin: 100px;
}
